## Data structures

In [15]:
my_list = ['first', 'second', 'third', 'fourth']


def switch_item(lis,i,j):
    temp   = lis[i]
    lis[i] = lis[j]
    lis[j] = temp

In [16]:
switch_item(my_list, 1, -1)
print(my_list)

['first', 'fourth', 'third', 'second']

In [25]:
inventory = {'pumpkin' : 20, 
             'fruit' : ['apple', 'pear'],
             'vegetable' : ['potato', 'onion', 'lettuce']}

inventory['meat'] = ['beef', 'chicken','pork']
inventory['vegetable'] = sorted(inventory['vegetable'])
inventory['pumpkin'] = inventory['pumpkin'] + 5

In [26]:
print(inventory)

{'pumpkin': 25, 'fruit': ['apple', 'pear'], 'vegetable': ['lettuce', 'onion', 'potato'], 'meat': ['beef', 'chicken', 'pork']}

In [38]:
# 1
def absolute(x):
    if x < 0 : 
        x = x * -1
    return x

# 2  
def ifelse(response, choice1, choice2):
    if response == True :
        return choice1
    else:
        return choice2

In [36]:
print(absolute(5))

5

In [ ]:
### Your code here!
#2
def leap_year(y):
    return y % 400 == 0 or (y % 4 ==0 and y % 100 != 0)

#3
leap_years = lambda L:  filter(leap_year, L)

## Loop 1

In [55]:
### Your code here!

primes = [2, 3, 5, 7, 11]

sum_ = 0
for prime in primes:
    sum_ = sum_ + prime
    print( prime, sum_ )

2 2
3 5
5 10
7 17
11 28

## Loop2

In [60]:
### Your code here!

names = ['don', 'mike', 'vivian', 'saul']

total_length = 0
for j in range(4):
    total_length = total_length + len(names[j])
    print(total_length, names[j] )

3 don
7 mike
13 vivian
17 saul

## Loop3

In [88]:
names = ['y', 'X', 'T', 'e', 'D', 'Z', 'H', 'W', 'n', 'I']

def map_upper_case(strings_list):
    lis = []
    for a in strings_list:
        lis.append(a.upper())
    return lis

In [89]:
print(map_upper_case(names))

['Y', 'X', 'T', 'E', 'D', 'Z', 'H', 'W', 'N', 'I']